---
import CSECarouselCard from './CSECarouselCard.astro';

export interface Props {
    index: number;
    faculty_member: {
        id: string,
        name: string,
        image: string,
        bio: string,
        quote: string
    };
}

const { faculty_member, index } = Astro.props;
---

<style>
    img {
        max-height: 384px;
        object-fit: contain;
        aspect-ratio: 1;
    }
</style>

<CSECarouselCard index={index}>
    <img src={`/src/images/about/faculty/${faculty_member.image}`} class="w-100" alt="..." />
    <div class="px-3 px-md-5 py-3 text-center">
        <p class="fw-bold fs-2" id={`faculty-${index}`}>
            {faculty_member.name}
        </p>
        <blockquote class="fs-4 fst-italic">
            {`${faculty_member.quote}`}
        </blockquote>
        <p class="fs-5">
            {faculty_member.bio}
        </p>
    </div>
</CSECarouselCard> 
