---
import CSECarouselCard from '../CSECarouselCard.astro';

export interface Props {
    index: number;
    faculty_member: {
        id: string,
        name: string,
        image: string,
        bio: string,
        quote?: string
    };
}

const { faculty_member, index } = Astro.props;
---

<style>
    img {
        max-height: 384px;
        object-fit: contain;
        aspect-ratio: 1;
    }

    blockquote {
        position: relative;
        z-index: 1;
    }

    blockquote::before {
        content: '';
        display: block;
        position: absolute;
        left: -16px;
        top: -16px;
        opacity: 0.2;
        background-image: url('/src/images/about/quote.png');
        background-repeat: no-repeat;
        background-size: contain;
        
        height: 60px;
        width: 60px;
    }
</style>

<CSECarouselCard index={index}>
    <img src={`/src/images/about/faculty/${faculty_member.image}`} class="w-100" alt={`Photo of ${faculty_member.name}`}/>
    <div class="px-3 px-md-5 py-3 text-center">
        <h2 class="fw-bold fs-2" id={`faculty-${index}`}>
            {faculty_member.name}
        </h2>
        {faculty_member.quote && <blockquote class="fs-4 fst-italic"> {`${faculty_member.quote}`} </blockquote>}
        <p class="fs-5">
            {faculty_member.bio}
        </p>
    </div>
</CSECarouselCard> 
