---
import BaseLayout from "../layouts/BaseLayout.astro";

import CSESponsorContainer from "../components/CSESponsorContainer.astro";
import CSESponsorCard from "../components/CSESponsorCard.astro";

import partners from "../assets/partners.json";

import '../styles/partners.css';
import '../styles/scroll-animation.css'
---

<BaseLayout title="Partners">
    <div class="partners-container">
        <!-- Start of Banner -->
        <div class="d-flex flex-wrap">
            <div class="row g-0 justify-content-center justify-content-lg-end align-items-center">
                <div class="mt-5 col-10 col-lg-4">
                    <h1 class="text-white drop-in">
                        OUR PARTNERS
                    </h1>
                    <p class ="drop-in-2">
                        We are delighted to announce that CS EXPO 2023 is made
                        possible by our partnerships with exceptional companies
                        and organizations in the industry. These partners bring
                        valuable knowledge and expertise to the event, ensuring
                        that it is informative, engaging, and impactful. It's an
                        honor to work with them to make this event a success.
                    </p>
                </div>
                <div class="spacer d-lg-none"></div>
                <div class="d-none d-lg-block offset-lg-1 col-10 col-lg-6 partners-img">
                    <img class="w-100" src="/images/filler.png" />
                    <img class="shape" src="/images/shape_89.png" />
                </div>
                <div class="d-block d-lg-none offset-lg-1 col-10 col-lg-6">
                    <img class="w-100" src="/images/filler.png" />
                </div>
            </div>
        </div>
        <!-- End of Banner -->
        

        {
            partners.partner_groups.map((partner_group) => {
                const card_elements = partner_group.partners.map((partner) => {
                    var elem;

                    if (partner.requires_bg_logo) {
                        elem = (
                            <CSESponsorCard
                                html_class="col"
                                partner_name={partner.name}
                                partner_img={`/images/partners/${partner_group.path}/${partner.logo}`}
                                links={partner.links}
                                requires_bg_logo
                                bg_color={partner.bg_color}
                            />
                        )
                    } else {
                        elem = (
                            <CSESponsorCard
                                html_class="col"
                                partner_name={partner.partner_name}
                                partner_img={partner.partner_img}
                                links={partner.links}
                            />
                        )
                    }

                    return elem;
                });

                return (
                    <CSESponsorContainer category_name={partner_group.title} category_color={partner_group.color}>
                        <div class="row row-cols-1 row-cols-md-3 row-cols-xl-4">
                            {card_elements}
                        </div>
                    </CSESponsorContainer>
                    <div class="spacer" />
                );
            })
        }
    </div>
    <script src="../scripts/scroll-animation.js"></script>
</BaseLayout>
