---
import "shimmer-css/shimmer.css"

export interface Props {
    id: string;
    title: string;
    poster: string;
    logo: {
        src: string,
        requires_background: boolean,
        background?: string
    }
    group_name: string;
}

const { id, title, poster, group_name, logo } = Astro.props;
const logobg = logo.requires_background ? logo.background : "#ffffff00";
---

<style define:vars={{logobg}}>
    
    .project-item, .project-item>* {    
        transition: all 0.2s;
    }

    .project-item {
        position: relative;
        margin: auto auto;
        overflow: hidden;
    }

    .project-item img:not(.logo) {
        aspect-ratio: 1/1.41; /* A4 */
        width: 100%;
        display: block;
    }

    .group-name {
        background: rgba(0, 0, 0, 0.8);
        width: 100%;

        font-size: 1rem;
    }

    .logo {
        width: 48px;
        height: 48px;
        object-fit: contain;
        background-color: var(--logobg);
    }

        /* query for screens that can show more than 1 column of posters */
    @media (any-hover: hover) {
        .group-name {
            transform: translateY(100%);
            font-size: 1.25rem;
        }

        .logo {
            width: 64px;
            height: 64px;
        }
        
        .project-item:hover {
            cursor: pointer;
        }
        
        .project-item:hover .group-name {
            /* opacity: 1; */
            transform: translateY(0%)
        }

        .project-item:hover img:not(.logo) {
            filter: brightness(70%);
        }

        .project-item img {
            transition: 0.3s ease-out;
        }

        .project-item:hover img:not(.logo) {
            transform: scale(1.1);
        }
    }
</style>

<a href={`/projects/${id}`}>
    <div class="project-item shimmer-wrapper shimmer-animate border border-white border-5">
        <img class="project-item-imgs" src={poster} alt={`${group_name}'s poster`} loading="lazy" />
        <div class="position-absolute bottom-0 p-3 group-name">
            <img class={`logo mx-1 mt-2 mb-3 rounded-3 ${logo.requires_background && "p-1"}`} src={`/images/group-logos/${logo.src}`} alt={`${group_name}'s logo`}>
            <p class="font-din text-start text-white m-0">
                {title}
            </p>
        </div>
    </div>
</a>
