---
import 'shimmer-css/shimmer.css';

export interface Props {
	title: string;
    name: string;
    credential: string;
    image_url: string;
}

const { title, name, credential, image_url } = Astro.props;
---

<style>
    .cse-speakers {
        padding: 1rem;
    }

    .cse-speakers-image {
        border-radius: 999px;

        border: 16px solid white;
        
        background-color: white;
        width: 100%;
        max-width: 300px;
        aspect-ratio: 1;
    }

    .cse-speakers-image > img {
        border-radius: 999px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: inherit;
    }
</style>

<div class="cse-speakers d-flex flex-column flex-md-row align-items-center">
    <div class="cse-speakers-image mb-3 mb-md-0 shimmer-circle shimmer-animate">
        <img class="ratio ratio-1x1" src={image_url} alt={`Image of ${name}`}>
    </div>
    <div class="cse-speakers-text px-5">
        <p class="h1 text-center text-md-start font-akira-expanded">{title}</p>
        <p class="h3 text-center text-md-start font-din-black">{name}</p>
        <p class="text-center text-md-start font-din">{credential}</p>
    </div>
</div>    