---
import groups from "../../assets/groups.json"
export async function getStaticPaths() {
    const pages = Object.keys(groups).map(key => {
        const group = groups[key]

        return {
            slug: group.slug,
            name: group.group_name,
            title: group.title,
            abstract: group.abstract,
            description: group.description,
            photo: group.poster,
            developers: group.developers,
            awards: group.awards,
	        avp: group.group_avp,
            manuscript: group.group_manuscript
        }
    });

    return pages.map(({slug, name, title, abstract, description, photo, developers, awards, avp, manuscript}) => {
        return {
            params: { slug },
            props: { slug, name, title, abstract, description, photo, developers, awards, avp, manuscript }
        }
    });
}

const { slug, name, title, abstract, description, photo, developers, awards, avp, manuscript } = Astro.props;

import BaseLayout from '../../layouts/BaseLayout.astro';
import CSEDevCard from "../../components/CSEDevCard.astro";

import '../../styles/individual-projects.css';
import '../../styles/scroll-animation.css';

const award_colors = ["green", "gold", "gray", "brown"];
const award_fg_colors = ["white", "black", "white", "white"]
---

<style>
    #awards {
        position: relative;
        margin: 128px 0 ;
    }

    #awards::before {
        content: '';
        position: absolute;
        width: 100%;
        height: calc(100% + 256px);
        background-color: white;

        top: -128px;
        left: 0;

        background-image: url("/images/white_paper_tile.png");
        background-repeat: repeat;
        background-size: 128px 128px;
        mask-image: url("/images/rip_mask.png");
        mask-size: cover;

        z-index: 0;
    }

    #awards>.container {
        position: relative;
        z-index: 1;
    }

    @media only screen and (min-width: 768px) {
        #awards::before {
            mask-size: 100% 100%;
        }
    }
</style>

<BaseLayout title={`${title} by group ${name}`}>
    <script src="../../scripts/scroll-animation.js"></script>
    <div class="container-fluid page-bg">
        <div class="spacer"></div>
        <div class="row justify-content-center">
            <div class="col-10 name-container">
                <span class="fs-1 project-name">{title}</span>
                <div class="group-name-container">
                    <img class="group-name-bg" src="/images/tape.png">
                    <span class="group-name">{name}</span>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="row justify-content-center">
            <div class="col-10 col-xl-8">
                <p class="project-short-desc drop-in text-center">
                    {description}
                </p>
            </div>
        </div>
        { awards &&
        <div id="awards" class="text-center">
            <div class="container z-1 py-5 py-md-0">
                <p class="fs-1 h1 drop-in">Awards</p>
                <p class="drop-in-2">Congratulations to the group's hard work! On <span class="devday">DEVDAY</span>, they have received the following awards:</p>
                {
                    awards.map((award) => {
                        var bg_color;
                        var fg_color;

                        if (award.custom_color) {
                            bg_color = award.custom_color;
                            fg_color = "black";
                        } else if (award.place) {
                            bg_color = award_colors[award.place];
                            fg_color = award_fg_colors[award.place];
                        } else {
                            bg_color = award_colors[0];
                            fg_color = award_fg_colors[0];
                        }

                        return (
                            <div class="col-10 col-md-5 col-lg-4 d-inline-block m-2 m-md-3 rounded rounded-2" style={`background-color: ${bg_color} !important; vertical-align: middle;`}>
                                <div class="m-2 px-5 py-3 rounded rounded-2" style="background-color: rgba(255, 255, 255, 0.75); ">
                                    <p class="m-0 fs-5 fw-bold">{award.award_title}</p>
                                    {award.data && <p class="m-0 fs-6">{award.data}</p>}
                                </div>
                            </div>
                        )
                    })
                }
            </div>
        </div>
	    }
    <div class="spacer"></div>
	<div class="row justify-content-center align-items-top">
            <div class="col-10 col-xl-4">
                <style>
                    .poster-img {
                        background-color: #c8c8c8;
                        background-image: url("/images/project-border.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                </style>
                <img class="p-3 p-md-4 p-xl-4 poster-img project-image drop-in-2" src={`/images/group-posters/${photo}`}>
            </div>
            <div class="col-10 col-xl-6 mt-5 mt-xl-0 drop-in-2">
                <p class="project-name fs-2">Abstract</p>
                <p class="project-long-desc fst-italic">
                    {abstract}
                </p>
                {avp && <a href={avp} target="_blank" class="btn btn-primary">Project AVP</a>}
                {manuscript && <a href={manuscript} target="_blank" class="btn btn-primary">Download Manuscript</a>}
            </div>
        </div>
        <div class="spacer"></div>
        <div class="row justify-content-center">
            <div class="col-10 col-lg-6 col-xl-4 title-container ease-anim fade-bottom">
                <img class="title-bg" src="/images/tape.png">
                <span class="title">Developers</span>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="row justify-content-center card-container">
        {developers.map(dev => {
            return (
                <CSEDevCard slug={slug} name={dev.name} image={dev.photo} />
            )
        })}
        </div>
        <div class="spacer"></div>
        <div class="col-12 spacer plastic"></div>
    </div>
</BaseLayout>

<script>
    import JSConfetti from "js-confetti";
    
    const confetti = new JSConfetti();

    document.getElementById("awards")
        .addEventListener("mouseenter", () => {
            confetti.addConfetti({
                // Add pastel rainbow colors
                confettiColors: ['#a864fd', '#29cdff', '#78ff44', '#ff718d', '#fdff6a'],
                confettiRadius: 6,
                confettiNumber: 200,
            });
        });
</script>